@use 'variables' as var;
@use 'mixins' as mix;

.hero {
    height: 100vh;
    background: linear-gradient(0deg, rgba(131, 182, 210, 0.9), rgba(131, 182, 210, 0.9)), url('file:///Users/elma/PhpstormProjects/cloudsuiteCase/images/hero-background.jpg');
    background-size: cover;

    .inner {
        display: flex;
        align-items: center;
        @include mix.contentWidth;
        height: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: var.$hero-content-width;
        margin-left: 7vw;
    }

    .title {
        margin-top: 0;
        font-family: var.$font-family-special;
        font-size: clamp(2rem, 7vw + 2rem, #{var.$title-size});
        color: var.$neutral-100;
    }

    .button {
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    }
}